.violet{
    background-color: violet;
}
.indigo{
    background-color: indigo;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}

#btns {
    display: flex;
    column-gap: 1rem;
}

#btns > button {
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 20px;
}

#main {
    padding: 2rem 0 0 2rem;
}